* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --scale: 1;
    --x: 50%;
    --y: 50%;
    font-size: calc(10px / var(--scale));
    height: 100vh;
    user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
    background-image: linear-gradient(242deg, transparent 0%, transparent 62%,rgba(93,93,93,0.01) 62%, rgba(93,93,93,0.01) 68%,transparent 68%, transparent 100%),linear-gradient(314deg, transparent 0%, transparent 80%,rgba(93,93,93,0.03) 80%, rgba(93,93,93,0.03) 94%,transparent 94%, transparent 100%),linear-gradient(22deg, transparent 0%, transparent 44%,rgba(93,93,93,0.03) 44%, rgba(93,93,93,0.03) 74%,transparent 74%, transparent 100%),radial-gradient(circle at 50% 43%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 53% 88%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 75% 8%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 88% 38%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 22% 47%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 25% 63%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 11% 36%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 24% 20%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 24% 89%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 28% 97%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 32% 4%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 62% 28%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 40% 44%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 89% 51%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(45deg, rgb(46, 228, 244),rgb(141, 8, 253));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    overflow: hidden;
}

.not-pc, .scaled, .deleted, noscript {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 20px;
    position:fixed;
    top:0;
    left:0;
    background-color: #81D4FA;
}

.not-pc {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
}

.container .description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px 20px;
}

.container .box {
    --margin: 10px;
    margin: var(--margin);
    border: 3px dotted #000000;
    height: calc(100% - (2 * var(--margin)));
    border-radius: 20px;
    position: relative;
}

button, button.auto-move {
    font-size: clamp(2rem, 2.5vmin, 3rem);
    padding: 2vmin 5vmin;
    border-radius: 50px;
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 2px solid rgba(0,0,0,0.5);
    background-color: #2196F3;
    transition: border-color 0.3s, top 0.5s ease-out, left 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button .emoji, button.auto-move .emoji {
    margin-left: 3px;
    font-size: 30px;
}

button:hover, button.auto-move:hover {
    border: 2px solid rgba(0,0,0,1);
}

@media (max-width:600px), (max-height: 400px) {
    .not-pc {
        display: flex;
    }
    .container {
        display: none;
    }
}

.meme {
    width: 64vmin;
    height: 48vmin;
    background-image: url("./images/ross.gif");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
}

.preload, .preload * {
    display: none!important;
}

body.loading .container {
    display: none;
}

body.loading .loading-anim {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: load 2s ease-in-out infinite alternate;
}

@keyframes load {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.4);
    }
}

.no-transform {
    transform: translate(0%, 0%)!important;
}

.msg-card, button.solved .title {
    user-select: all;
}
